extends layout

block content
	div(style="display: table; postion: static; min-height: 100%; height: 100%; width: 100%;")
		div(style="display:table-cell; vertical-align:middle;text-align:center;")
			div(style="text-align: center;")
				img(src="images/logo.svg", alt="")
				br
				label Coming Soon.
