extends layout

block content
	div(style="display:flex;justify-content:center;align-items:center;")
		div
			div(style="text-align: center;")
				img(src="images/logo.svg", alt="")
			div(style="text-align: center") Coming Soon
