doctype html
html(style="position: relative; height: 100%; min-height: 100%;")
  head
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')
    title My new box
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="min-height:100%; position: relative; height: 100%; padding: 0; margin: 0;")
    block content