@font-face {
    font-family: Proxima;
    src: url("../proximanova.ttf");
}

body {
  font: 24px "Proxima", Helvetica, Arial, sans-serif;
  color: #555964;
}


div:last-child {
  color: #555964;
  padding-top: 40px;
}